<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ntt.androidday18">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission
        android:name="com.ntt.thanhnt.receiver.DEMO_RECEIVER"
        android:protectionLevel="signature" />

    <!--    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />-->
    <queries>
        <provider android:authorities="com.ntt.androidday18.provider.StudentProvider" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidDay18">
        <activity
            android:name=".ProviderActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".MusicActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.SecondReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".provider.StudentProvider"
            android:authorities="com.ntt.androidday18.provider.StudentProvider"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>